---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.container {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
  margin-left: 0;
  margin-right: 0;
  margin-bottom:0;
}

.nav-right {
  float: right;
}

@media (max-width: 765px){
  .nav-right {
    float: none;
  }
  .box p {
    font-size: 0.6em;
  }
  .media-body {
    font-size: 0.7em;
  }
}

@media (min-width: 978px) {
  .title {
    margin-top: -15px;
  }
}

.nav-sidebar {
  width: 100%;
  padding: 8px 0;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.nav-sidebar .course-active a {
    cursor: default;
    background-color: #428bca;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}
.nav-sidebar .course-active a:hover {
    background-color: #428bca;
}

.course-active {
  background: #34ACE2;
  border-radius: 4px 0 0 4px;
}

.course-outline {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-start: 40px;
  text-decoration: none;
}

@media (min-width: 768px) {
  h5#contact-number {
    font-size: 20px;
  }
}

.alert-msg {
  color: green;
  display: none;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
"nova-theme"
;

