---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.container {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
  margin-left: 0;
  margin-right: 0;
  margin-bottom:0;
}

.nav-right {
  float: right;
}

@media (max-width: 765px){
  .nav-right {
    float: none;
  }
  .box p {
    font-size: 0.7em;
  }
}

@media (min-width: 978px) {
  .title {
    margin-top: -15px;
  }
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "nova-theme"
;

