---
layout: default
title: The Rotati Blog
menu_title: Blog
weight: 3
---

<section class="title">
    <div class="container">
        <div class="row">
            <div class="span6">
                <h1>{{ page.title }}</h1>
            </div>
            <div class="span6">
                <ul class="breadcrumb pull-right">
                    <li><a href="/">Home</a> <span class="divider">/</span></li>
                    <li class="active">{{ page.menu_title }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="blog" class="container main">
    <div class="row">
        <div class="span8">
            <div class="blog">

                {% for post in site.posts %}
                <div class="blog-item well">
                    {% include post-top.html post=post %}
                      <article>{{ post.content | truncatewords: 50}}</article>
                    {% include post-bottom.html post=post %}
                </div>
                {% endfor %}

            </div> <!-- blog -->

          <div class="gap"></div>

          <!-- Paginationan
          <div class="pagination">
            <ul>
                <li><a href="#"><i class="icon-angle-left"></i></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><i class="icon-angle-right"></i></a></li>
            </ul>
        </div>-->


     </div> <!-- span8 -->

     {% include blog-aside.html %}

    </div> <!-- row -->

</section>
