---
layout: default
title: Blog
weight: 3
---

<section class="title">
    <div class="container">
        <div class="row-fluid">
            <div class="span6">
                <h1>Blog</h1>
            </div>
            <div class="span6">
                <ul class="breadcrumb pull-right">
                    <li><a href="/">Home</a> <span class="divider">/</span></li>
                    <li class="active">Blog</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="blog" class="container main">
    <div class="row-fluid">
        <div class="span8">
            <div class="blog">

                {% for post in site.posts %}
                <div class="blog-item well">
                    <a href="{{ post.permalink }}"><h2>{{ post.title }}</h2></a>
                    <div class="blog-meta clearfix">
                        <p class="pull-left">
                          <i class="icon-user"></i> by <a href="#">{{ post.author }}</a> | <i class="icon-folder-close"></i> Category <a href="#">{{ post.categories[0] }}</a> | <i class="icon-calendar"></i> {{ post.date | date: '%B %Y' }}
                        </p>
                    </div>
                  <article>{{ post.content }}</article>
                  <a class="btn btn-link" href="{{ post.permalink }}">Read More <i class="icon-angle-right"></i></a>
                  <div class="tag">
                    Tags :
                    {% for tag in post.tags %}
                      <a href="#"><span class="label label-success">{{ tag }}</span></a>
                    {% endfor %}
                  </div>
              </div>
              {% endfor %}
            </div> <!-- blog -->

          <div class="gap"></div>

          <!-- Paginationan
          <div class="pagination">
            <ul>
                <li><a href="#"><i class="icon-angle-left"></i></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#"><i class="icon-angle-right"></i></a></li>
            </ul>
        </div>-->


     </div> <!-- span8 -->

     {% include blog-aside.html %}

    </div> <!-- row -->

</section>
