---
layout: default
title: Contact Rotati
---

<section class="title">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Get in Touch!</h1>
        <h5 id="contact-number"><i class="icon-phone"></i> 012 22 33 48 / 015 54 33 33</h5>
      </div>
      <div class="col-md-6">
        <ul class="breadcrumb pull-right">
          <li><a href="/">Home</a><span class="divider"></span></li>
          <li class="active">Get in Touch</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</section>

<section id="contact" class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <h2>We would love to hear from you!</h2>
      <h4>Tell us a little bit about your project and please provide a phone number and time when we can call you for a chat.</h4>
      <h4>If you are a developer or a designer, please feel free to use this form to enquire about our job openings. We are always hiring!</h4>
      <hr>
      <form action="//formspree.io/info@rotati.com" method="POST">
        <div class="row form-group">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <label for="first_name" class="control-label text-box">First Name *</label>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <input type="text" name="first_name" minlength="2" maxlength="50" class="form-control text-box" required />
          </div>
        </div>
        <div class="row form-group">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <label for="last_name" class="control-label text-box">Last Name *</label>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <input type="text" name="last_name" minlength="2" maxlength="50" class="form-control text-box" required />
          </div>
        </div>
        <div class="row form-group">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <label for="email" class="control-label">Email Address *</label>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <input type="email" name="email" maxlength="50" class="form-control text-box" required />
          </div>
        </div>
        <div class="row form-group">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <label for="telephone" class="control-label">Tel No.</label>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <input type="text" name="telephone" maxlength="30" class="form-control text-box" />
          </div>
        </div>
        <div class="row form-group">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <label for="comments" class="control-label">Tell us about your project *</label>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <textarea name="comments" maxlength="1000" cols="25" rows="6" class="form-control" id="textarea-box" required ></textarea>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-lg-8 col-lg-offset-4 col-md- col-md-offset-4 col-sm-8 col-sm-offset-4 col-xs-12">
            <input type="submit" value="Submit" class="btn btn-primary" id="btn-submit" />
          </div>
        </div>
      </form>
      <br>
      <p id="alert-msg" class="alert-msg">Thank you for your inquiry. We will be in touch within the next business day!</p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <h2>Location</h2>
      <h4>Rotati is located at Villa # 11, Street 496, Phnom Penh, Cambodia, also at Taguihon Internet Research Services, National Highway, Taguihon, Baclayon, Bohol, Philippines, and in Baltimore, Ontario, Canada. We would love if you can visit us!</h4>
      <hr>
      <br>

      <h4>Map (Rotati Cambodia)</h4>
      <iframe width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2654.747063669818!2d104.9156813295955!3d11.530821680564603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTHCsDMxJzUxLjIiTiAxMDTCsDU0JzU3LjciRQ!5e0!3m2!1sen!2skh!4v1448095000810"></iframe>
      <br><br>

      <h4>Map (Rotati Philippines)</h4>
      <iframe width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=9.626858,123.894918&key=AIzaSyAX3E1qwuJzp2jM-cznb7J0EsH-0hvNQb8"></iframe>
      <br><br>

      <a href="https://www.google.com.kh/maps/@44.0370436,-78.118324,3a,75y,3.02h,78.19t/data=!3m6!1e1!3m4!1sFfkI2i1ML8uks-UQSojImQ!2e0!7i13312!8i6656!6m1!1e1?hl=en" target="_blank">Street View Link: Rotati (Canada) Location on Google Street View (opens new tab)</a>
      <br><br>

      <h4>Map (Rotati Canada)</h4>
      <iframe width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=2948+Meyers+road+south,+Baltimore,+Ontario,+K0k+1c0,+Canada&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
      <br><br>

      <h4>Full Address in Cambodia:</h4>
      <address>
        {% for line in site.address_lines_cambodia %}
        {{ line }}<br/>
        {% endfor %}
      </address>

      <h4>Full Address in Philippines:</h4>
      <address>
        {% for line in site.address_lines_philippines %}
        {{ line }}<br/>
        {% endfor %}
      </address>

      <h4>Full Address in Canada:</h4>
      <address>
        {% for line in site.address_lines_canada %}
        {{ line }}<br/>
        {% endfor %}
      </address>

    </div>
  </div>
</section>
