<a href="{{ include.post.permalink }}"><h2>{{ include.post.title }}</h2></a>
<div class="blog-meta clearfix">
    <p class="pull-left">
      <i class="icon-user"></i> by <a href="#">{{ include.post.author }}</a> |
      <i class="icon-folder-open"></i>Category:
      {% for category in include.post.categories %}
        <a href="/categories/{{category}}">{{ category | capitalize }}</a> |
      {% endfor %}
      <i class="icon-calendar"></i> {{ include.post.date | date: '%B %Y' }}
    </p>
</div>
<article>{{ include.post.content }}</article>
{% unless include.showall %}
  <a class="btn btn-link" href="{{ include.post.permalink }}">Read More <i class="icon-angle-right"></i></a>
{% endunless %}
<div class="tag">
  Tags :
  {% for tag in include.post.tags %}
    <a href="/tags/{{tag}}"><span class="label label-success">{{ tag }}</span></a>
  {% endfor %}
</div>
