{% assign pages = site.pages | sort:"weight"  %}

{% for p in pages %}
  {% if p.menu_title and p.group == null and p.tag == null and p.category == null %}
    <li {% if p.url == page.url %}class="active"{% endif %}>
        <a class="page-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.menu_title }}</a>
    </li>
  {% endif %}
{% endfor %}

{% unless include.dropdown == false %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Training <i class="icon-angle-down"></i></a>
    <ul class="dropdown-menu">
      <li><a href="/training/rotati-training-center/">Rotati Training Center</a></li>
      <li role="separator" class="divider"></li>
      {% for p in pages %}
        {% if p.menu_title and p.group == "training" %}
          <li>
              <a class="page-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.menu_title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <i class="icon-angle-down"></i></a>
    <ul class="dropdown-menu">
      {% for p in pages %}
        {% if p.menu_title and p.group == "services" %}
          <li>
              <a class="page-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.menu_title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </li>
  <li class="login"><a class="page-link" href="/contact">Get In Touch</a></li>
{% endunless %}

