---
layout: default
---

<section class="title">
    <div class="container">
        <div class="row-fluid">
            <div class="span6">
                <h1>Categories: {{page.category | capitalize}}</h1>
            </div>
            <div class="span6">
                <ul class="breadcrumb pull-right">
                    <li><a href="/">Home</a> <span class="divider">/</span></li>
                    <li><a href="/blog/">Blog</a><span class="divider">/</span></li>
                    <li>Categories <span class="divider">/</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="blog" class="container main">
    <div class="row-fluid">
        <div class="span8">
            <div class="blog">

                {% for post in site.posts %}
                    {% for category in post.categories %}
                        {% if category == page.category %}
                            <div class="blog-item well">
                                {% include blog-post.html post=post %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

            </div> <!-- blog -->

          <div class="gap"></div>

     </div> <!-- span8 -->

     {% include blog-aside.html %}

    </div> <!-- row -->

</section>
