---
layout: default
---

<section class="title">
    <div class="container">
        <div class="row-fluid">
            <div class="span6">
                <h1>{{ page.title }}</h1>
            </div>
            <div class="span6">
                <ul class="breadcrumb pull-right">
                    <li><a href="/">Home</a> <span class="divider">/</span></li>
                    <li><a href="/blog/">Blog <span class="divider">/</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="container">
  <div class="row">
    <div class="span8">
        <div class="well">
            {% include blog-post.html post=page showall=true %}
            <div class="user-info media box">
              <div class="pull-left">
                  <img src="/images/darren.jpg" alt="Darren" />
              </div>
              <div class="media-body">
                  <h5 style="margin-top: 0">{{ page.author }}</h5>
                  <p>{{ site.author.bio }}</p>
                  <div class="author-meta">
                      <a class="btn btn-social btn-facebook" target="_blank" href="https://fb.com/{{site.author.facebook_username}}"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-twitter" target="_blank" href="https://twitter.com/{{site.author.twitter_username}}"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" target="_blank" href="https://linkedin.com/in/{{site.author.linkedin_username}}"><i class="icon-linkedin"></i></a>
                  </div>
             </div>
          </div>
        </div>
    </div>
    {% include blog-aside.html %}
  </div>
</section>
